<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hello Guys this is second page!!</p>
    <a href="index">second index</a>

    <a href="{{url_for('static', filename='hello.jpeg')}}" download>Hello Pic</a>

    <a href="#section-con">Conclusion</a>
    <a href="#section-css">CSS</a>

    <a href="https://google.com">google</a>
    <a href="https://google.com" target="_blank">Google2</a>

    <a href="mailto:bansalyoshi@gmail.com">Connect</a>

    <a href="images.html">Images</a>
    <h2>HTML</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
      tempore distinctio illo rem quos, et ea error fuga unde aliquid veritatis
      necessitatibus sequi. Porro vero consequuntur odio ab accusantium
      laboriosam beatae iusto impedit, inventore dolorem nisi obcaecati quo
      voluptates, exercitationem fuga veniam corrupti perspiciatis omnis
      officiis accusamus, sit aliquid esse. Optio sunt sequi inventore ratione
      laborum veniam facilis animi illo pariatur neque rerum, ut nisi vel
      magnam! Culpa architecto quaerat at accusamus ipsum suscipit, aspernatur
      sapiente nulla dicta necessitatibus illo libero, quas minus maiores
      perspiciatis ipsam veniam et, animi aliquid recusandae dolorum. At,
      consectetur sed saepe libero tenetur eius assumenda officiis dolorum ea
      asperiores vel placeat debitis quasi, beatae, aut delectus illum!
      Reprehenderit atque cumque laudantium voluptatibus, odio libero
      accusantium earum debitis corrupti, beatae dolor voluptas at vel aliquam
      eligendi rerum expedita quasi. Ipsum ex fuga minus consequatur, quia
      exercitationem fugit repellat odio iusto ut et deleniti recusandae
      voluptatibus consectetur vitae neque. Unde tempore quos dolore maiores
      eligendi adipisci distinctio dolores neque voluptas doloribus autem,
      aspernatur magni numquam vero. Sed eius ut maiores, distinctio adipisci,
      harum tempora unde vero minima consequuntur deserunt recusandae et
      laboriosam placeat odit sunt quibusdam consectetur possimus, molestiae in
      nesciunt rem! Odio id assumenda recusandae veritatis?
    </p>
    <h2 id="section-css">CSS</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
      molestias nulla laboriosam debitis non exercitationem alias accusamus
      quia? Illum at quis, sunt laborum facilis exercitationem mollitia quia
      repellat reprehenderit tempora architecto cupiditate reiciendis in ab
      quaerat veritatis ducimus molestias officiis ullam sapiente fugit eius.
      Consectetur eligendi impedit, eos molestias omnis cupiditate mollitia quos
      quo dolorem nisi delectus neque distinctio minima qui deleniti aliquam
      exercitationem fuga iusto, explicabo voluptatem nemo voluptas doloremque.
      Facilis ipsam, repudiandae veniam accusantium possimus velit fugiat maxime
      dolorem iste amet assumenda, aliquam molestias quidem odit quas sequi
      numquam vero repellendus dolor. Inventore nostrum, perferendis harum
      tenetur temporibus odit. Beatae explicabo tempore quibusdam, voluptatibus
      sed, excepturi libero cupiditate ex, officiis consequatur culpa neque
      facere incidunt. Nesciunt nulla eaque vero cumque modi et commodi corrupti
      nostrum reprehenderit nobis sed quisquam earum in sapiente, labore quod ea
      doloribus! Enim vero magnam a numquam quae aliquam modi reprehenderit
      voluptatum voluptatibus quam officiis accusamus at quasi dolore earum
      voluptas sequi error quibusdam magni soluta obcaecati illum, quia ea!
      Totam, quas consectetur blanditiis cupiditate ipsum veniam veritatis
      ratione molestiae dignissimos quam eius quis, est amet fugit rerum sequi
      quaerat quod adipisci ab iure minus a. Accusamus, distinctio. Iure
      suscipit numquam fuga at quos.
    </p>
    <h2>Javascript</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta libero ea
      fuga ad quisquam minima repellat neque amet eaque, asperiores harum
      excepturi delectus expedita? Excepturi blanditiis explicabo repellendus
      consequuntur voluptatibus, quam nobis saepe impedit repudiandae inventore
      tempore magni vitae harum tempora debitis necessitatibus dicta doloremque
      adipisci maxime sint temporibus. Hic, nihil pariatur porro non debitis
      sapiente expedita delectus quia recusandae velit assumenda minima, ipsa
      aspernatur voluptatem ipsam incidunt placeat vel a dignissimos magni? Ad
      dolore, rerum amet quas ea placeat libero eos sapiente officiis eligendi
      impedit sit magnam ipsum distinctio, harum error odio provident deserunt
      laboriosam enim? Voluptas impedit vero et alias? Perspiciatis officiis
      consequatur ut iste at nam a maxime suscipit repellendus illo sequi,
      laudantium ullam dolorum. Id ullam itaque fugiat voluptatum debitis eos
      qui magnam veniam ducimus? Beatae at atque non deleniti inventore odit,
      fugit sit assumenda? Enim harum reiciendis dolores dignissimos iste vel
      quisquam fugiat at veritatis, ipsam quo alias accusantium esse sequi
      inventore aperiam exercitationem sed quis voluptate aliquid aut suscipit
      eaque quasi. Reiciendis mollitia porro rerum excepturi asperiores tempore
      delectus quos ad, perferendis vel debitis quae. Doloremque placeat, autem
      ipsam corrupti recusandae perspiciatis nihil molestias soluta explicabo
      voluptate, ex tempore hic architecto iusto fugit, officia eius repudiandae
      numquam alias laborum at! Ad vero cupiditate quo distinctio dignissimos?
      Nulla animi facere rerum ducimus architecto qui reiciendis quis vero
      accusantium odio maiores culpa ratione aut quos, labore blanditiis saepe
      quasi. Soluta consequatur animi temporibus blanditiis atque veniam maxime
      sint doloribus. Quo architecto praesentium quisquam labore suscipit dicta
      error adipisci non! Commodi architecto explicabo similique consequuntur
      tenetur sunt soluta delectus, doloribus recusandae placeat vitae unde,
      quae doloremque? Beatae magnam sed sit quisquam ex blanditiis quas, fugiat
      sunt voluptas modi libero repudiandae obcaecati saepe totam esse dolorem
      corrupti at quod, vero impedit architecto eius? Necessitatibus voluptatem
      ipsum dolorem id reiciendis accusantium veritatis maiores blanditiis.
      Magnam maxime aspernatur fuga quasi, repellat iste doloribus consectetur
      modi neque corporis quis quidem pariatur et ad quae voluptatem? Unde
      dolor, sit obcaecati beatae, autem fuga numquam modi alias minima
      praesentium neque recusandae repellat tenetur architecto veniam quidem
      ducimus accusamus omnis cupiditate a similique corrupti eos quaerat! Quis
      in voluptatum ratione? Cupiditate amet eveniet unde odio. Dolores hic
      ratione aperiam explicabo culpa distinctio pariatur velit molestias?
      Repellat sed consequatur officia ex dignissimos quod voluptatibus corporis
      assumenda. Nam aut in voluptatibus, illum magni maiores delectus ad optio
      accusantium error totam excepturi quos sapiente nobis! Officia ipsum
      possimus sed optio assumenda. Atque nulla ad quibusdam illo obcaecati
      provident aliquid, tenetur minima ea, quod minus assumenda perspiciatis
      quae. Iste quam non unde nobis, saepe ad nisi vero delectus similique
      necessitatibus. Inventore eaque quos cum labore quod magnam commodi,
      corrupti non assumenda nesciunt dolores, repellat quo quisquam nam amet,
      asperiores minima! Possimus deleniti facere quia eaque officia a porro
      ipsa ipsam? Sit laborum possimus enim, tempore eius corporis animi, quo
      iure ullam aperiam eum nisi voluptates earum similique ad. Laudantium
      excepturi quam veritatis consequuntur velit harum culpa repellendus,
      facilis, numquam, asperiores porro optio saepe! Quo omnis eligendi
      aspernatur quia?
    </p>
    <h2 id="section-con">Conclusion</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda
      saepe repellat inventore quos quasi hic ab, provident officia nemo ducimus
      molestias optio obcaecati iste quisquam quis ex commodi aliquid, facere
      enim sapiente est eveniet corrupti cum. Eius iste asperiores numquam,
      modi, illum expedita, eaque facilis aliquid perferendis ipsa incidunt amet
      praesentium inventore repellendus architecto? Commodi est reprehenderit
      illum repellat, dolore fuga molestias quod omnis deserunt rem iste
      expedita suscipit qui sed perferendis ut cum, ipsa molestiae. Aspernatur
      sit fuga laudantium eveniet autem et reprehenderit tempora quae, minima
      aliquam error iusto. Illum praesentium deleniti facere. Repellendus
      voluptate animi deleniti veniam?
    </p>

    <a href="#">TOP</a>
  </body>
</html>
